extends layout

block paths
	- var content_title= (__('KOSMOS') + ' | ' + __('ABOUT')).split('').join(' ')
	- var menu_active = 'about'

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/global.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/about.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/' + __app_name + '/about.js' + version)

block content
	.cv_block
		a.cv_email(href='mailto:info@k-s-m-s.com') info@k-s-m-s.com
		.cv_adress!= locale == 'ru' ? adress_ru : adress_en
		.cv_body!= locale == 'ru' ? cv_ru : cv_en

	.peoples_block
		.block_title CV
		.block_items
			each people in peoples
				a.people_item(href='#')
					.people_photo
					.people_name= people.i18n.name.get(locale)
					.people_open= __('Open CV')

	img.block_poster(src='/stuff/kosmos/backgrounds/about.png')

	.press_block
		.block_title= __('Press')
		.block_items
			each item in press
				.press_item
					.press_poster
					.press_title= item.i18n.title.get(locale)
					.press_s_title= item.i18n.s_title.get(locale)
					.press_year= item.year

	.awards_block
		.block_title= __('Awards')
		.block_items
			each award in awards
				.award_item
					.award_title= award.i18n.title.get(locale)
					.award_s_title= award.i18n.s_title.get(locale)
					.award_place= award.i18n.place.get(locale)
					.award_year= award.year

	.events_block
		.block_title= __('Events')
		.block_items
			each event in events
				.event_item
					.event_title= event.i18n.title.get(locale)
					.event_s_title= event.i18n.s_title.get(locale)
					.event_place= event.i18n.place.get(locale)
					.event_year= event.year

	img.block_poster(src='/stuff/kosmos/backgrounds/about.png')