doctype html
html
	head
		block paths
		include header
	body(class=menu_active)
		.main_block
			.title_block
				.menu_block
					a(href='/', class=menu_active == 'main' ? 'active' : '')= __('KOSMOS')
					a(href='/office', class=menu_active == 'office' ? 'active' : '')= __('OFFICE')
					a(href='/projects', class=menu_active == 'project' ? 'active' : '')= __('PROJECTS')
					a(href='/research', class=menu_active == 'research' ? 'active' : '')= __('RESEARCH')
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			.content_block
				block content
			.footer_block
				.logo!= '&copy;K-S-M-S ' + new Date().getFullYear()
				.language
					a(href='/lang/ru', class=locale == 'ru' ? 'active': '') RUS
					a(href='/lang/en', class=locale == 'en' ? 'active': '') ENG
				.contacts
					//- a(href='mailto:info@k-s-m-s.com') e-mail
					a(href='mailto:kosmos.arch@gmail.com') e-mail
					a(href='https://www.facebook.com/kosmosarchitects', target='_blank') facebook
					a(href='https://www.instagram.com/kosmos_architects', target='_blank') instagram