doctype html
html
	head
		block paths
		include header
	body
		.main_block
			.title_block
				.menu_block
					a(href='/', class=menu_active == 'main' ? 'active' : '')= __('K O S M O S')
					a(href='/about', class=menu_active == 'about' ? 'active' : '')= __('A B O U T')
					a(href='/works', class=menu_active == 'works' ? 'active' : '')= __('W O R K S')
					a(href='/research', class=menu_active == 'research' ? 'active' : '')= __('R E S E A R C H')
				if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			.content_block
				block content
			.footer_block
				.logo!= '&copy;K-S-M-S ' + new Date().getFullYear()
				.language
					a(href='/lang/ru', class=locale == 'ru' ? 'active': '') RUS
					a(href='/lang/en', class=locale == 'en' ? 'active': '') ENG
				.contacts
					a(href='mailto:info@k-s-m-s.com') e-mail
					a(href='https://www.facebook.com/profile.php?id=100009737497399', target='_blank') facebook
					a(href='https://www.instagram.com/kosmos_architects', target='_blank') instagram