doctype html
html
	head
		block paths
		include header
	body
		.main_block
			.title_block
				.menu_block
					a(href='/') KOSMOS
					a(href='/about')= __('ABOUT')
					a(href='/works')= __('WORKS')
					a(href='/research')= __('RESEARCH')
				//- if (session && session.user_id)
					.stargazer_block
							a(href='/auth') stargazer
							span= ' | '
							a(href='/auth/logout') выход
			.content_block
				block content
			.footer_block
				.logo &copy;K-S-M-S 2017
				.language
					a(href='/lang/ru', class=locale == 'ru' ? 'select': '') RUS
					a(href='/lang/en', class=locale == 'en' ? 'select': '') ENG
				.contacts
					a(href='mailto:kosmos@kosmos.com') e-mail
					a(href='https://www.facebook.com/profile.php?id=100009737497399', target='_blank') facebook
					a(href='https://www.instagram.com/kosmos_architects', target='_blank') instagram