extends layout

block paths
	- var content_title= __('KOSMOS') + ' | ' + __(work.type == 'project' ? 'PROJECTS' : 'RESEARCH') + ' | ' + work.i18n.title.get(locale).toUpperCase()
	- var menu_active = work.type

block content_style
	link(rel='stylesheet', type='text/css', href='/libs/css/swiper.min.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/' + __app_name + '/work.css' + version)

block content_scripts
	script(type='text/javascript', src='/libs/js/swiper.jquery.min.js' + version)
	script(type='text/javascript', src='/build/js/' + __app_name + '/work.js' + version)

block content
	.work_columns
		.work_column.left
			.work_title= work.i18n.title.get(locale)
			.work_meta

				if work.year
					.meta_column
						.meta_title= __('Year')
						.meta_data= work.year

				if work.i18n.client.get(locale) != ''
					.meta_column
						.meta_title= __('Client')
						.meta_data= work.i18n.client.get(locale)

				if work.i18n.area.get(locale) != ''
					.meta_column
						.meta_title= __('Area')
						.meta_data= work.i18n.area.get(locale) != ''

			img.work_poster(src=work.poster)

		.work_column.right
			.work_s_title= work.i18n.s_title.get(locale)
			.work_description!= work.i18n.description.get(locale)

	.work_images
		each item in images
			if item.length
				- var g_size = 'g_3x'
				if item.every(function(item) { return item.size == '2x' })
					- g_size = 'g_2x'
				else if item.every(function(item) { return item.size == '1x' })
					- g_size = 'g_1x'
				.gallery-block(class=g_size)
					.swiper-button-next.swiper-button-black
					.swiper-button-prev.swiper-button-black
					.swiper-container.gallery-top
						.swiper-wrapper
							each image in item
								.swiper-slide
									img.slide_image(src=image.thumb)
									.slide_description cool
			else
				- var sizes = ['size_1x', 'size_2x', 'size_3x' ]
				.image(class=sizes[sizes.indexOf('size_' + item.size)])
					img(src=item.thumb)
					.image_description= item.description.filter(function(lang) { return lang.lg == locale })[0].value